<header>
  <nav>
    <%= link_to 'ログイン', user_session_path %>
    <%= link_to 'トップ',root_path %>
    <%= link_to 'マップ',map_path %>
    <%= link_to '掲示板一覧',boards_path %>
    <%= link_to '新規投稿',new_board_path %>
  </nav>
</header>
